* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 13px Helvetica, Arial;
}

.info {
  margin: 1em 0 1em 0;
}

.dmb .status
{
  height: 5px;
  line-height: 5px;
  vertical-align: top;
  position: fixed;
  z-index: 100000;
  top: 0px;
  left: 0px;
  width: 5px;
  background-color: red;
}
.dmb .status.active
{
  background-color: lightgreen;
}
.dmb .status.unread
{
  background-color: yellow;
}

.dmbcomm {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.dmbcomm li {
  padding: 5px 10px;
}

.dmbcomm li:nth-child(odd) {
  background: #eeeeee;
}

.dmbcomm li.broadcast {
  color: green;
}

.dmbcomm li.private {
  color: red;
}
